<div class="container-fluid">
    <app-header></app-header>
    <router-outlet></router-outlet>
   

    <!-- <app-products></app-products>
    <button type="button" class="btn btn-info" (click)="ExecuteServicesfun()">Display Data</button>

    <div *ngIf="Isreturned">
        <tbody>
            <tr>
              <td *ngFor="let product of products">
                  <div class="card" style="width: 14rem;">
                      <img class="card-img-top" [src]="'../../assets/'+product.Img" alt="Card image cap" height="200px">
                      <div class="card-body">
                        <h5 class="card-title">{{product.Name}}</h5>
                        <p>Price : {{product.Price}} EGY</p>
                        <a href="#" class="btn btn-primary">Add To Card</a>
                      </div>
                    </div>
              </td>
             
            </tr>
            
            
          </tbody>
    </div>
    -->
    <app-footer></app-footer>
    
</div>


