<div class="container p-5" style="display: flex;flex-direction: row;justify-content: space-around;align-items: center;">
    <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="../../assets/men.webp" alt="Card image cap" height="200px">
        <div class="card-body">
          <h5 class="card-title">Mens</h5>
         
          <a href="#" class="btn btn-primary">Shop Now</a>
        </div>
      </div>
      <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="../../assets/Shoes.webp" alt="Card image cap" height="200px">
        <div class="card-body">
            <h5 class="card-title">Shoes</h5>
         
            <a href="#" class="btn btn-primary">Shop Now</a>
        </div>
      </div>
      <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="../../assets/2.jpg" alt="Card image cap" height="200px">
        <div class="card-body">
            <h5 class="card-title">children</h5>
         
            <a href="#" class="btn btn-primary">Shop Now</a>
        </div>
      </div>
</div>
